<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <title>Cafés Nespresso Brasil</title>
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

  <link rel="stylesheet" th:href="@{/css/estilos.css}" type="text/css"/>

  <link rel="icon" type="image/x-icon" href="https://image.freepik.com/free-vector/hot-drink-paper-cup-with-mockup-sleeve-vector_53876-62026.jpg"/>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top navegacao">
    <div class="container">
      <a class="navbar-brand" th:href="@{/index}">Cafés Nespresso Brasil</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/index}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/capsulas/}">Capsulas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/receitas/}">Receitas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0 banner-index" src="https://http2.mlstatic.com/mix-30-capsulas-nespresso-cafes-tipos-variados-originais-D_NQ_NP_285321-MLB20769825030_062016-F.jpg"/>
      </div>
      <div class="col-lg-5 indexBanner">
        <h1 class="indexBanner-titulo">Aqui voce compra mais e paga menos!</h1>
        <p class="indexBanner-conteudo">A cada 10 uninades encomendadas ganhe 5% de desconto. A melhor qualidade que a Nespresso pode oferecer você encontra aqui e muito mais! Veja aqui nossas capsulas por categorias</p>
        <a class="btn btn-primary bg-dark botoes" th:href="@{/categorias/}">Categorias</a>
      </div>
    </div>

    <div class="card text-white my-5 py-4 text-center acessos">
      <div class="card-body">
        <p class="text-white m-0">Receitas deliciosas para aproveitar ao maximo seu café só aqui no Cafés Nespresso Brasil!</p>
      </div>
    </div>

    <div class="col-md-4 mb-5">
        <h1 class="section-title">Mais Acessados:</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100 cartoes">
          <div class="card-body">
            <h2 class="card-title">Receitas</h2>
            <p class="card-text">Veja receitas inovadoras compartilhada pelos nossos usuarios, atualizadas todos os dias!</p>
          </div>
          <div class="card-footer">
            <a th:href="@{/receitas/}" class="btn btn-primary btn-sm bg-dark botoes">Saiba Mais!</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-5">
        <div class="card h-100 cartoes">
          <div class="card-body">
            <h2 class="card-title">Capsulas</h2>
            <p class="card-text">Avalie aqui as capsulas de café nespresso ou adicione aqui em nosso site a sua! Temos planos otimos para parcerias.</p>
          </div>
          <div class="card-footer">
            <a th:href="@{/capsulas/}" class="btn btn-primary btn-sm bg-dark botoes">Saiba Mais</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-5">
        <div class="card h-100 cartoes">
          <div class="card-body">
            <h2 class="card-title">Categorias</h2>
            <p class="card-text">Encontre seu sabor e sua qualidade favorita aqui no Cafés Nespressos</p>
          </div>
          <div class="card-footer">
            <a th:href="@{/categorias/}" class="btn btn-primary btn-sm bg-dark botoes">Saiba Mais!</a>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- Footer -->
  <footer class="py-5 rodape">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Cafés Nespresso Brasil 2019</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>
